nav.main-nav {
  padding: 1rem;
  box-shadow: 1px 2px 10px rgba($color: #000000, $alpha: 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul.nav-links-wrapper {
    display: flex;
    gap: 1rem;
  }
}
footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  .text-center {
    text-align: center;
  }
}

.container {
  min-height: 80vh;
}
.buttons-wrapper {
  display: flex;
  gap: 1rem;
  button {
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #eee;
    border: 1px solid #aaa;
    color: rgb(109, 109, 109);
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    transition: all 0.3s;
    &.active {
      background-color: rgb(217, 234, 250);
      border-color: rgb(138, 150, 158);
      color: rgb(0, 28, 47);
      &:hover {
        background-color: rgb(200, 218, 236);
      }
    }
    &.disabled {
      cursor: default;
      background-color: #eee;
      border: 1px solid #aaa;
      color: rgb(168, 168, 168);
      &:hover {
        background-color: #eee;
        border: 1px solid #aaa;
        color: rgb(168, 168, 168);
      }
    }
    &:hover {
      background-color: rgb(217, 234, 250);
      border-color: rgb(138, 150, 158);
      color: rgb(0, 28, 47);
    }
  }
}
.posts-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  .single-post {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    h3 {
      min-height: 100px;
    }
    .img-wrapper {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      max-height: 250px;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      overflow: hidden;
    }
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
    a {
      margin-top: auto;
      display: block;
      border-radius: 100rem;
      padding: 0.5rem 1.5rem;
      border: 1px solid #ddd;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #ddd;
      }
    }
  }
}
.child-spacing {
  > * {
    margin-right: 1rem;
  }
}
.sub-header {
  margin: 2rem 0;
}
.btn {
  display: inline-block;
  border-radius: 100rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #ddd;
  }
  &.open {
    background-color: rgb(252, 218, 218);
  }
  &.closed {
    background-color: rgb(221, 252, 218);
  }
}
.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-top: 3rem;
  border-bottom: 1px solid #ddd;
  h3 {
    margin: 0;
  }
}
.new-wrapper {
  .img-wrapper {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-height: 500px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    img {
      background-position: center;
      width: 100%;
      object-fit: cover;
    }
  }
}
.text-link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.dialog {
  margin-top: 1.5rem;
  overflow: hidden;
  position: relative;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  display: flex;

  &.open {
    max-height: 100rem;
  }

  &.closed {
    max-height: 0rem;
  }

  .dialog-posts-wrapper {
    overflow: hidden;
    padding: 2rem 0;

    .dialog-slider {
      gap: 3rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      // transform: translateX(-425px);
    }
    .single-post {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      .img-wrapper {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        max-height: 250px;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        overflow: hidden;
      }
      img {
        height: auto;
        width: 100%;
        object-fit: cover;
      }
      a {
        margin-top: auto;
        display: block;
        border-radius: 100rem;
        padding: 0.5rem 1.5rem;
        border: 1px solid #ddd;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
}
.search-form {
  margin: 0 auto;
  width: 300px;
  .form-group {
    label {
      display: block;
      margin: 1rem 0;
    }
    input {
      margin: 1rem 0;
      display: block;
      width: 100%;
      padding: 0.5rem 1rem;
      border: 1px solid #ddd;
      &:focus {
        outline: none;
        border-color: #1c1c1c;
      }
    }
  }
}

@media only screen and (min-width: 568px) {
  .posts-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .dialog {
    .dialog-posts-wrapper {
      .dialog-slider {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .posts-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .dialog {
    .dialog-posts-wrapper {
      .dialog-slider {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .posts-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .dialog {
    .dialog-posts-wrapper {
      .dialog-slider {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
